@import "../../../assets/constants"
.api-detail
  height: 100%
  overflow: auto
  .api-base
    background: $color-bg-normal
    padding: 20px
    border-radius: $border-radius
    .btn-del
      margin-left: 20px
    .unit
      display: inline-block
      margin-left: 10px
      margin-top: 5px
      color: $color-font-content
  .url-line
    .c-button
      padding: 0
      width: 80px
      margin: 0 10px
      &:first-of-type
        margin-left: 20px
    .method-select .c-select-handle
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-right: none
    .url-input
      border-radius: 0
    .run-type-select .c-select-handle
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      border-left: none
    &>*
      vertical-align: bottom
  textarea
    resize: none
    font-size: $size-font-content-medium
    padding: 10px
    border: 1px solid $color-border
    border-radius: $border-radius
  .api-config
    margin-top: 20px
    border-radius: $border-radius
    padding: 10px
    background: $color-white
    .c-tab-panel
      max-height: 500px
      overflow: auto
