@import "../../../assets/constants"
.json-view
  font-size: $size-font-mark
  line-height: $size-font-subtitle-small
  .json-children
    margin-left: 10px
  .json-line
    .json-kh
      font-weight: bolder
    .json-key
      font-weight: bolder
      margin-right: 5px
    .json-val
    .json-xg
      font-weight: bolder
    .json-annotation
      margin-right: 10px
      .json-annotation_
        color: $color-font-icon
        margin-right: 3px
