@import "../../../assets/constants"
.json-view
  font-size: $size-font-content-medium
  line-height: $size-font-subtitle-small
  .json-children
  .json-line
    border-radius: $border-radius
    position: relative
    &:hover
      background: $color-status-normal-light
    .json-row-num
      display: inline-block
      position: absolute
      left: 0
      font-size: $size-font-mark
      color: $color-font-tip
    .json-collapse
      display: inline-block
      margin-left: 10px
      cursor: pointer
      border: 1px dashed $color-border
      width: 15px
      height: 15px
      line-height: 12px
      text-align: center
      font-weight: bolder
    .json-kh
      font-weight: bolder
    .json-key
      font-weight: bolder
      margin-right: 5px
      color: #61ce3d
    .json-val
      color: $color-brand
      font-weight: bolder
    .json-xg
      font-weight: bolder
      margin-right: 3px
      margin-left: 10px
    .json-annotation
      margin-right: 10px
      .json-annotation_
        color: $color-font-icon
        margin-right: 3px
  &.json-edit-mode
    .json-line
      margin: 5px 0
      .json-btn-del
        font-size: $size-font-mark
        color: $color-status-danger
        margin-left: 10px
        cursor: pointer
      .json-btn-add
        font-size: $size-font-mark
        color: $color-status-normal
        margin-left: 10px
        cursor: pointer
      .json-btn-add_
        font-size: $size-font-mark
        margin-left: 10px
        height: 22px
        line-height: 22px
    select
      height: 22px
      border-radius: $border-radius
      vertical-align: middle
      &:focus
        border-style: dashed
