@import "../../../assets/constants"
.setting
  padding: 20px
  min-height: 300px
  .c-tabs
    background: $color-white
    padding: 10px
    border-radius: $border-radius
  .setting-form
    background: $color-bg-normal
    .setting-global-proxy
      margin-left: 20px
      margin-top: 5px
    textarea
      vertical-align: text-top
      width: 400px
      resize: none
      border: 1px solid $color-border
      border-radius: $border-radius
      padding: 10px
    .setting-handle
      margin-top: 20px
      .c-button
        margin-right: 20px
